@font-face {
  font-family: "Damion";
  src: url("../fonts/Damion/Damion.eot");
  src: url("../fonts/Damion/Damion.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Damion/Damion.woff2") format("woff2"),
    url("../fonts/Damion/Damion.woff") format("woff"),
    url("../fonts/Damion/Damion.ttf") format("truetype"),
    url("../fonts/Damion/Damion.svg#Damion") format("svg");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts//OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

@font-face {
  font-family: "Times New Roman Cyr";
  src: url("../fonts/Times\ New\ Roman/TimesNRCyrMT.eot");
  src: url("../fonts/Times\ New\ Roman/TimesNRCyrMT.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Times\ New\ Roman/TimesNRCyrMT.woff2") format("woff2"),
    url("../fonts/Times\ New\ Roman/TimesNRCyrMT.woff") format("woff"),
    url("../fonts/Times\ New\ Roman/TimesNRCyrMT.ttf") format("truetype"),
    url("../fonts/Times\ New\ Roman/TimesNRCyrMT.svg#TimesNRCyrMT")
      format("svg");
}

/* generic style */
* {
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
}

:root {
  /* colors */
  --primaryColor: #c79c60;
  --secondaryColor: #e4e4e4;

  /* fonts */
  --primaryFont: "Damion", cursive;
  --secondaryFont: "Times New Roman", serif;
}

.cafe-btn {
  background-image: url(../assets/imgs/tm-brown-button.png);
  width: 196px;
  height: 46px;
  text-transform: uppercase;
  font-size: 16px;
  color: #c79c60;
  margin: 40px auto;
}

.cafe-btn:hover {
  color: white;
}
/* end generic style */

/* navbar */
.main-header .navbar .container {
  padding: 2px 0;
}

.main-header nav {
  background-color: black;
}

.main-header .logo {
  padding: 10px 0;
}

.main-header nav .logo-text {
  color: var(--primaryColor);
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 10px;
}

.main-header .header-links .navbar-collapse {
  font-weight: 700;
  text-transform: uppercase;
}

.main-header .header-links .navbar-collapse .nav-item .nav-link {
  padding: 15px 15px 20px 30px;
  color: white;
}

.main-header .header-links .navbar-collapse .nav-item .nav-link:hover {
  color: var(--primaryColor);
}

.main-header .header-links .navbar-collapse .nav-item .nav-link.active {
  color: var(--primaryColor);
  background: url(../assets/imgs/logo.png) no-repeat,
    url(../assets/imgs/nav-underline.png) no-repeat;
  background-size: 20px, 74px 17px;
  background-position: 0% 30%, center bottom;
}
/* end navbar */

/* main header */
.sub-main-header {
  background-color: #282726;
  text-align: center;
  height: 885px;
}

.sub-main-header .lights-imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sub-main-header .header-content {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 650px;
}

.sub-main-header .header-content .header-content-1 span {
  color: white;
  font-size: 56px;
  font-family: var(--primaryFont);
}

.sub-main-header .header-content .header-content-2 {
  font-family: var(--secondaryFont);
  font-size: 62px;
  text-transform: uppercase;
  color: var(--primaryColor);
}

.sub-main-header .header-content p {
  color: #949494;
  text-align: justify;
}

.sub-main-header .header-content p span {
  color: var(--primaryColor);
}

.sub-main-header .header-content .content-btn:hover {
  color: white;
}

.sub-main-header .table-img {
  position: absolute;
  top: 470px;
  left: 0;
}

/* end main header */

/* main section */
/* lead menus */
.main-section {
  padding: 170px;
  background-color: var(--secondaryColor);
}

.main-section .container .lead-menus {
  padding-top: 10px;
  margin-bottom: 60px;
}

.main-section .container .lead-menus h2 {
  font-size: 30px;
}

.main-section .container .lead-menus h2:first-child {
  color: var(--primaryColor);
  font-family: var(--primaryFont);
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-section .container .lead-menus p {
  text-align: justify;
}

.main-section .container .lead-menus p span:nth-child(1) {
  color: #0066cc;
}

.main-section .container .lead-menus p span:nth-child(2) {
  color: #30a430;
}

.main-section .container .cafe-btn {
  margin: 30px 0;
}

.main-section .container .lead-menus .lead-menus-img {
  text-align: right;
}

.main-section .container .lead-menus .lead-menus-img .shadow-img {
  background: url(../assets/imgs/shadow.png) no-repeat center bottom;
  display: inline-block;
  padding-bottom: 7px;
}

.main-section .container .lead-menus .lead-menus-img img {
  border-radius: 50%;
  padding: 8px;
}
/* end lead menus */

/* our-menus */
.main-section .our-menus {
  margin-bottom: 30px;
}

.main-section .our-menus .our-menus-title {
  width: 350px;
}

.main-section .our-menus .our-menus-title img {
  vertical-align: bottom;
}

.main-section .our-menus .our-menus-title span {
  color: var(--primaryColor);
  font-family: var(--primaryFont);
  vertical-align: bottom;
}

.main-section .our-menus .hr {
  width: 100%;
  padding-top: 10px;
}

.main-section .our-menus .hr hr {
  color: var(--primaryColor);
  opacity: 1;
}

.main-section .menu {
  width: 242px;
  height: 100%;
  background: url(../assets/imgs/vertical-menu-bg.png) no-repeat;
  background-size: contain;
}

.main-section .menu nav {
  height: 100%;
  padding-top: 7px;
  text-align: center;
  text-transform: uppercase;
}

.main-section .menu nav ul {
  height: 100%;
  margin-right: 32px;
}

.main-section .menu nav li {
  list-style: none;
  padding: 6.5px;
}

.main-section .menu li a {
  color: #7c6a51;
  /* padding: 7px; */
}

.main-section .menu li a.active {
  color: var(--primaryColor);
}

.main-section .menu li a:hover {
  color: var(--primaryColor);
}

.main-section .menu-product {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  max-width: 652px;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
}

.main-section .menu-product .product-text {
  max-width: 325px;
}

.main-section .menu-product .product-text h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
}

.main-section .menu-product .product-text p {
  margin-bottom: 0;
  text-align: justify;
}

.main-section .menu-product .product-price {
  width: 100px;
  height: 100px;
  background-color: #524c4c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-section .menu-product .product-price a {
  border: 2px solid #aeaeae;
  border-radius: 50%;
  width: 85px;
  height: 85px;
  text-align: center;
  padding-top: 7px;
  font-size: 40px;
  color: #aeaeae;
  font-family: var(--primaryFont);
}

.main-section .menu-product .product-price a span {
  font-size: 20px;
  position: absolute;
  top: 24px;
  left: 22px;
}
/* end our-menus */
/* end main section */

/* footer */
footer .dark-bg {
  background-color: #302f2f;
  color: white;
  padding-top: 50px;
}

footer .footer-content {
  padding-bottom: 60px;
}

footer .footer-content .footer-list {
  font-weight: 700;
  text-transform: uppercase;
}

footer .footer-content h3 {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

footer .footer-content .footer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-content .footer-list ul li {
  padding-top: 15px;
}

footer .footer-content .footer-list ul a {
  color: white;
}

footer .footer-content .footer-list ul a:hover {
  color: var(--primaryColor);
}

footer .footer-content .footer-social .social-icons {
  margin-top: 25px;
}

footer .footer-content .footer-social .social-icons a {
  background-color: #505050;
  color: white;
  display: inline-block;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  padding-top: 4px;
  margin-right: 10px;
  text-align: center;
}

footer .footer-content .footer-social .social-icons a:hover {
  background-color: #bb8232;
}
/* end footer */
